@import 'perl.css';
/* We can't include the rules below inside perl.css, because it's used by other sites,
   and we can't specify more than one stylesheet to the podhtml.pl program. So... import
*/

html {
    padding-top: 100px;
}

html:before {
    content: "Note: these documents may be out of date. For Perl 6 documentation see docs.perl6.org; for specs, see the official test suite.";
    text-align: center;
    background: red;
    color: white;
    width: 100%;
    display: block;
    padding: 20px;
    font-size: 110%;
    position: absolute;
    top: 0;
    left: 0;
}

